@media screen and (min-width: 1024px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #020203;
    color: white;
    height: 91px;
    align-items: center;
    padding-left: 28px;
    padding-right: 91px;
    margin-left: auto;
    margin-right: auto;
  }
  header img {
    width: 178px;
  }
  header p {
    font-size: 24px;
  }
}
@media screen and (min-width: 1024px) {
  html {
    height: 100%;
  }
  body {
    height: 100%;
    margin: 0;
  }
}
#root {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.mainContainer {
  display: flex;
  flex-direction: row;
}

body {
  font-family: "Roboto";
}

nav {
  display: flex;
  flex-direction: column;
  width: 117px;
  background-color: #020203;
  color: white;
  align-items: center;
  padding-top: 256px;
}
nav img {
  width: 64px;
  height: 64px;
  padding-left: 26px;
  padding-right: 27px;
}
nav p {
  writing-mode: vertical-lr;
  text-orientation: sideways-left;
  margin-bottom: 59px;
  transform: rotate(180deg);
  font-size: 12px;
}

.menu-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 164px;
  gap: 20px;
}

.graphs {
  display: flex;
  flex-direction: column;
  margin-left: 107px;
  margin-right: 90px;
  margin-top: 68px;
  margin-bottom: 86px;
  width: 100%;
}

.activity {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.charts {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.welcome {
  margin-bottom: 77px;
}

.welcome h1 {
  font-size: 48px;
}

.welcome p {
  font-size: 18px;
}

.firstname {
  color: #FF0101;
}

.congratulations {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.congratulations img {
  width: 24px;
  height: 24px;
}

.data-count {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.data-count p {
  margin: 0px;
}
.data-count img {
  width: 4vw;
  margin: 32px;
}

.one-data {
  display: flex;
  flex-direction: row;
  margin-bottom: 39px;
  background-color: #FBFBFB;
  border-radius: 5px;
}

.type-count {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 51px;
}
.type-count .number {
  font-weight: bold;
  font-size: 20px;
}
.type-count .count {
  font-size: 14px;
}

.radar {
  background-color: #282D30;
  width: 100%;
  height: 100%;
  font-size: 0.6vw;
  text-transform: capitalize;
}

.radar-score {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
.radar-score .radar, .radar-score .sessions, .radar-score .score {
  aspect-ratio: 1/1;
  max-width: 258px;
  width: 33%;
  border-radius: 5px;
  margin-right: 30px;
  position: relative;
}

.sessions {
  position: relative;
  color: #FFFFFF;
}
.sessions h2 {
  position: absolute;
  font-size: 0.9vw;
  font-weight: 500;
  z-index: 2;
  padding-top: 5%;
  padding-left: 10%;
  width: 80%;
  color: #FFFFFF;
  opacity: 50%;
}

.custom-tooltip {
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 8px;
  padding: 7px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
}
.title .title-activity {
  font-size: 15px;
  padding-left: 32px;
  padding-top: 24px;
  font-weight: bold;
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  margin-right: 26px;
}
.legend img {
  width: 8px;
  height: 8px;
  margin-right: 10px;
}
.legend .units {
  margin-right: 32px;
  font-size: 14px;
}

.user-activity {
  max-width: 835px;
  margin-bottom: 30px;
  padding-bottom: 23px;
  background-color: #FBFBFB;
  border-radius: 5px;
}

.custom-tooltip-activity {
  display: flex;
  flex-direction: column;
  background-color: #E60000;
  color: white;
  font-size: 8px;
  padding: 7px;
  text-align: center;
  gap: 7px;
}

.score {
  background-color: #FBFBFB;
}
.score h2 {
  position: absolute;
  font-size: 0.8vw;
  left: 10%;
  top: 3%;
}
.score p {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 30%;
  text-align: center;
  font-size: 0.7vw;
}
.score p span {
  font-weight: bold;
  font-size: 1.2vw;
}

/*# sourceMappingURL=style.css.map */
