.data-count {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  p {
    margin: 0px;
  }
  img {
    width: 60px;
    height: 60px;
    margin: 32px;
  }
}

.one-data {
  display: flex;
  flex-direction: row;
  margin-bottom: 39px;
  background-color: #FBFBFB;
  border-radius: 5px;
}

.type-count {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-right: 51px;
  .number {
    font-weight: bold;
    font-size: 20px;
  }
  .count {
    font-size: 14px;
  }
}