.sessions {
  position: relative;
  color: #FFFFFF;
  h2 {
    position: absolute;
    font-size: 0.9vw;
    font-weight: 500;
    z-index: 2;
    padding-top: 5%;
    padding-left: 10%;
    width: 80%;
    color: #FFFFFF;
    opacity: 50%;
  }

}

.custom-tooltip {
  background-color: white;
  color: black;
  font-weight: 500;
  font-size: 8px;
  padding: 7px;
}