.sessions {
  position: relative;
  color: #FFFFFF;
  h2 {
    position: absolute;
    font-size: 15px;
    font-weight: 500;
    z-index: 2;
    left: 34px;
    top: 29px;
    width: 148px;
    color: #FFFFFF;
    opacity: 50%;
  }

}

