.score {
  h2 {
    position: absolute;
    font-size: 15px;
    left: 30px;
    top: 24px;
  }
  p {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 95px;
    text-align: center;
    font-size: 16px;
    span {
      font-weight: bold;
      font-size: 26px;
    }
  }
}