.score {
  background-color: #FBFBFB;
  h2 {
    position: absolute;
    font-size: 0.8vw;
    left: 10%;
    top: 3%;
  }
  p {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 30%;
    text-align: center;
    font-size: 0.7vw;
    span {
      font-weight: bold;
      font-size: 1.2vw;
    }
  }
}