.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 64px;
  .title-activity {
    font-size: 15px;
    padding-left: 32px;
    padding-top: 24px;
    font-weight: bold;
  }
}

.legend {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 24px;
  margin-right: 26px;
  img {
    width: 8px;
    height: 8px;
    margin-right: 10px;
  }
  .units {
    margin-right: 32px;
    font-size: 14px;
  }
}

.user-activity {
  max-width: 835px;;
  margin-bottom: 30px;
  padding-bottom: 23px;
  background-color: #FBFBFB;
  border-radius: 5px;
}

.custom-tooltip-activity {
  display: flex;
  flex-direction: column;
  background-color: #E60000;
  color: white;
  font-size: 8px;
  padding: 7px;
  text-align: center;
  gap: 7px;
}
